<script type="text/javascript">
	var map;
	var arrMarkers = [];
	var arrInfoWindows = [];
	
	function mapInit(){
		var centerCoord = new google.maps.LatLng(-33.86,151.20); 
		var mapOptions = {
			zoom: 15,
			center: centerCoord,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		map = new google.maps.Map(document.getElementById("map"), mapOptions);
		
		
		$.getJSON("/vehicles.json", {}, function(data){
			var LatLngList = new Array;
			
			var icons = {
			  van: {
			    icon: '/assets/van.png',
			  }
			};
			
			
      console.log(data)

			$.each(data, function(i, item){
			
				LatLngList.push(new google.maps.LatLng(item.latitude, item.longitude));
				
				
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(item.latitude, item.longitude),
					map: map,
					// icon: icons["van"].icon,
					title: item.name,
					vehicle_type: item.vehicle_type
				});
				
				prev_infowindow =false
				arrMarkers[i] = marker;
				var infowindow = new google.maps.InfoWindow({
					content: "<h3>"+ item.name +"</h3><img src='https://www.goget.com.au/bookings/vehicles/"+item.goget_id+".jpg' width=200><p>"+ item.pod +"</p>"
				});
				arrInfoWindows[i] = infowindow;
				google.maps.event.addListener(marker, 'click', function() {
					if( prev_infowindow )
					    {
					    prev_infowindow.close();
					        }
					infowindow.open(map, marker);
					prev_infowindow = infowindow;
			    
				});
			});
			
			
			// var bounds = new google.maps.LatLngBounds ();
			// //  Go through each...
			// for (var i = 0, LtLgLen = LatLngList.length; i < LtLgLen; i++) {
			//   //  And increase the bounds to take this point
			//   bounds.extend (LatLngList[i]);
			// }
			// //  Fit these bounds to the map
			// map.fitBounds (bounds);
			
		});
	}
	
	
	$(function(){
		// initialize map (create markers, infowindows and list)
		mapInit();
		
		// "live" bind click event
		$("#markers a").live("click", function(){
			var i = $(this).attr("rel");
			map.setZoom(17);
			var marker = arrMarkers[i].position
			map.panTo(marker);
			
			// this next line closes all open infowindows before opening the selected one
			for(x=0; x < arrInfoWindows.length; x++){ arrInfoWindows[x].close(); }
			arrInfoWindows[i].open(map, arrMarkers[i]);
		});		
	});
	
	function show(vehicle_type) {
    for (var i=0; i<arrMarkers.length; i++) {
      if (arrMarkers[i].vehicle_type == vehicle_type) {
        arrMarkers[i].setVisible(true);
      }
    }
	}
	
	function hide(vehicle_type) {
    for (var i=0; i<arrMarkers.length; i++) {
      if (arrMarkers[i].vehicle_type == vehicle_type) {
        arrMarkers[i].setVisible(false);
      }
    }
	}
	
	function toggle(vehicle_type) {
    for (var i=0; i<arrMarkers.length; i++) {
      if (arrMarkers[i].vehicle_type == vehicle_type) {
        if (arrMarkers[i].getVisible() == true) {
					arrMarkers[i].setVisible(false);
				}else{
					arrMarkers[i].setVisible(true);
				}
      }
    }
	}
	
	function showOnly(vehicle_type) {
		for (var i=0; i<arrMarkers.length; i++) {
	    if (arrMarkers[i].vehicle_type == vehicle_type) {
	      arrMarkers[i].setVisible(true);
			}else{
				arrMarkers[i].setVisible(false);	
	    }
	  }
	}
</script>
<style>
	#map{
		width: 100%;
		height:100%;
		position: absolute;
		left: 0px;
    top: 0px; 
	}
	#over_map { position:absolute;
  left:100px;
  top: 30px;
	background-color: white;
	padding: 10px;
  z-index:3;
	border-radius: 5px;
	}
	ul {
		font-size: 11px;
		font-family: arial, helvetica;
		list-style:none;
		padding: 0;
	}
	
	h3 {
		font-family: arial, helvetica;
		padding:0;
		margin:0;
	}
</style>

<div id="map">
  </div>

  <div id="over_map">
		<h3>Filter Car Type</h3>
		<ul>
			<% @vehicles.map {|a| a.vehicle_type}.uniq.each do |type| %>
				<li><a href="#" onclick="toggle('<%= type %>')"><%= type %></a>
					- 
					<a href="#" onclick="showOnly('<%= type %>')">only</a>
				</li>
			<% end %>
			</ul>
  </div>
