<script type="text/javascript">
	var map;
	var arrMarkers = [];
	var arrInfoWindows = [];
	
	function mapInit(){
		var centerCoord = new google.maps.LatLng(-33.86,151.20); 
		var mapOptions = {
			zoom: 14,
			center: centerCoord,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		
		map = new google.maps.Map(document.getElementById("map"), mapOptions);
		
		
		$.getJSON("/vehicles.json", {}, function(data){
			var LatLngList = new Array;
			
			var icons = {
			  "true": {
			    icon: 'assets/available-wheel.png'
			  },
				"false": {
			    icon: 'assets/booked-wheel.png'
			  }
			};
			
			$.each(data, function(i, item){
			
			if (item.available != null) {
				LatLngList.push(new google.maps.LatLng(item.latitude, item.longitude));
					
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(item.latitude, item.longitude),
					map: map,
					icon: icons[item.available.toString()].icon,
					title: item.name,
					vehicle_type: item.vehicle_type
				});
				
				prev_infowindow =false
				arrMarkers[i] = marker;
				
				if (item.available == true) {
				 var availableString = "available"	
				} else {
					var availableString = "unavailable"
				}
				
				var infowindow = new google.maps.InfoWindow({
					content: "<h3>"+ item.name +"</h3><img src='https://www.goget.com.au/bookings/vehicles/"+item.goget_id+".jpg' width=200><p>"+ item.pod +"</p></br><p>Currently " + availableString +"</p>" + "<p><a href='http://www.goget.com.au/bookings/edit_entry.php?room="+item.goget_id+"'>Book</a>"
				});
				arrInfoWindows[i] = infowindow;
				google.maps.event.addListener(marker, 'click', function() {
					if( prev_infowindow )
					    {
					    prev_infowindow.close();
					        }
					infowindow.open(map, marker);
					prev_infowindow = infowindow;
			    
				});
			}
			});
			
		});
	}
	
	
	$(document).ready(function(){
		// initialize map (create markers, infowindows and list)
		mapInit();
		
		$("#show_all").bind("click", showAll);
		$("#hide_all").bind("click", hideAll);
		$(".filter").bind("click", toggle);
		
		
		// "live" bind click event
		$("#markers a").live("click", function(){
			var i = $(this).attr("rel");
			map.setZoom(17);
			var marker = arrMarkers[i].position
			map.panTo(marker);
			
			// this next line closes all open infowindows before opening the selected one
			for(x=0; x < arrInfoWindows.length; x++){ arrInfoWindows[x].close(); }
			arrInfoWindows[i].open(map, arrMarkers[i]);
		});		
		

		
	});
	
	function showAll() {
    for (var i=0; i<arrMarkers.length; i++) {
        arrMarkers[i].setVisible(true);
    }
		$(".filters li").addClass("active");
	}
	
	function hideAll() {
    for (var i=0; i<arrMarkers.length; i++) {
        arrMarkers[i].setVisible(false);
    }
		$(".filters li").removeClass("active");
	}
	
	function toggle(vehicle_type) {
		
    for (var i=0; i<arrMarkers.length; i++) {
      if (arrMarkers[i].vehicle_type == this.innerHTML) {
        if (arrMarkers[i].getVisible() == true) {
					arrMarkers[i].setVisible(false);
					$(this).removeClass('active')
				}else{
					arrMarkers[i].setVisible(true);
					$(this).addClass('active')
				}
      }
    }
	}
	
	function showOnly(vehicle_type) {
		for (var i=0; i<arrMarkers.length; i++) {
	    if (arrMarkers[i].vehicle_type == vehicle_type) {
	      arrMarkers[i].setVisible(true);
			}else{
				arrMarkers[i].setVisible(false);	
	    }
	  }
	}
	
</script>
<style>

</style>

<div id="map">
  </div>

	<div id="title">
		<!-- <%= image_tag "logo-white.png", width: 200 %> -->
		<h1>A better way to find a GoGet</h1>
	</div>
	
	<div id="credits">
		<p>Created by <%= link_to "@HiHarryHere", "http://www.twitter.com/hiharryhere" %></p>
	</div>

  <div id="over_map">
		<h3 class='lead'>Car Type</h3>
		<span class="pill" id="show_all">show all</span> <span class="pill" id="hide_all">hide all</span>
		<ul class='filters'>
			<% @vehicles.map {|a| a.vehicle_type}.uniq.each do |type| %>
					<li class='filter active'><%= type %></li>
			<% end %>
			</ul>
  </div>
